<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Lista de contribuyentes</title>
<link href="css/estilo_l5.css" rel="stylesheet">
</head>
<body>
	<div class="contenedor-tabla" align="center">
		<h1>Lista de contribuyentes</h1>
		<br/>
				<div class="buttom-container">
					<a th:href="@{/inicio}">
						<input class="boton-nuevo" type="submit"  value="Ingresar nuevo contribuyente" >
					</a>
			   </div>
		<table class="tabla" border="1">
			<thead>
				<tr>
					<th>C&oacute;digo</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Nit</th>
					<th>Fecha de ingreso</th>
					<th>Importancia</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="contri, row:${contribuyentes}">
					<td th:text="${contri.codigo_c}">C&oacute;digo</td>
					<td th:text="${contri.nombre}">Nombre</td>
					<td th:text="${contri.apellido}">Apellido</td>
					<td th:text="${contri.nit}">Nit</td>
					<td th:text="${contri.fechaDelegate}">Fecha de ingreso</td>
					<td th:text="${contri.importancia.importancia}">Importancia</td>
				</tr>
			</tbody>
		</table>
		<br>
	</div>	

</body>
</html>